
        .grid-container {
            border: 1px solid #000;
            display: grid;
            grid-template-columns: repeat(4, 4fr);
            grid-template-rows: repeat(2, 150px);   
            height: 600px;
            gap: 20px;
            padding: 20px;
            width: 800px;
        
            /* display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 150px);
            gap: 20px;
            padding: 20px;
            background: #f5f5f5;
            border: 2px solid #e72323;
            background-color: #f0f0f0; */
        }
        .box1{
            background-color: #ffcccb;
            border: 1px solid #ff0000;          
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            color: #333;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;    
        }
        .box2{      
            background-color: #add8e6;
            border: 1px solid #0000ff;          
            display: grid;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            color: #333;
            height: 20px;
            width: 20px;
        }
        .box21{
            background-color: #d3d3d3;
            border: 1px solid #808080;          
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            color: #333;
            height: 20px;
            width: 20px;
        }
        .box22{
            background-color: #f0e68c;
            border: 1px solid #ffd700;          
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            color: #333;
            height: 20px;
            width: 20px;
        }
        .box23{
            background-color: #dda0dd;
            border: 1px solid #800080;          
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            color: #333;
            height: 20px;
            width: 20px;
        }







   .box3{
            background-color: #90ee90;
            border: 1px solid #008000;          
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            color: #333;
        }
        .box4{
            background-color: #ffffe0;
            border: 1px solid #ffff00;          
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            color: #333;
        }
        